#style_test_1 { cursor: pointer; font-size:12px;}
div.style-test { margin-left: 1px }

#style_test_dimensions_container { 
  position: absolute;
  top: 0;
  left: 500px;
  width: 20px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border: 3px solid red;
}

#not_floating_style { float: none }
#floating_style { float: left }
#op2 { opacity:0.5;filter:alpha(opacity=50)progid:DXImageTransform.Microsoft.Blur(strength=10);}

#scroll_test_1 { 
  margin: 10px;
  padding: 10px;
  position: relative;
}

#scroll_test_2 {
  position: absolute;
  left: 10px;
  top: 10px;
}

#unit_px_test {
  width: 500px;
  height: 400px;
  background-color:red;
}

#unit_px_test_1 {
  width: 5.08cm;
  height: 20mm;
  margin: 5em 3em 2mm 1in;
  border: 1em solid #181818;
  border-bottom: 1.5em solid #02A;
  padding: 1em 5em 8em;
  color: #2f5;
  background-color:blue;
  overflow:auto;
}

#unit_px_test_1_1 {
  width: 3em;
  height: 2em;
  font-size: 3em;
  line-height: 2em;
  border: 1px solid #030;
  background-color:green;
}

#unit_px_test_2 {
  width: 100px;
  height: 50px;
  font-size: 2pc;
  background-color:yellow;
}

#unit_px_test_2_1 {
  height: 20%;
  width: 40%;
  font-size: 12pt;
  background-color:brown;
}

#unit_px_test_2_1_1 {
  font-size: 2ex;	
}

#dimensions-visible,
#dimensions-display-none,
#dimensions-visible-pos-rel,
#dimensions-display-none-pos-rel,
#dimensions-visible-pos-abs,
#dimensions-display-none-pos-abs {
    font-size: 10px;
    height: 10em;
    width: 20em;
}

#dimensions-visible-pos-abs,
#dimensions-display-none-pos-abs {
  position: absolute;
  top: 15px;
  left: 15px;
}

#dimensions-visible-pos-rel,
#dimensions-display-none-pos-rel {
  position: relative;
  top: 15px;
  left: 15px;
}

#dimensions-display-none, #dimensions-display-none-pos-rel, #dimensions-display-none-pos-abs {
    display: none;
}

#dimensions-table, #dimensions-tbody, #dimensions-tr, #dimensions-td {
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    height: 10em;
    width: 20em;
}

#clone_position_source_absolute {
  position: absolute;
  padding: 2px;
  margin: 2px;
  border-style: solid;
  border-color: black;
  background: #21bacc;
  z-index: 2;
}

#clone_position_target_absolute {
  position: absolute;
  top: 10px;
  left: 560px;
  height: 20px;
  width: 30px;
  border-style: solid;
  border-color: yellow;
  background: red;
  z-index: 1;
}

#clone_position_source_relative {
  position: relative;
  padding: 4px;
  margin: 8px;
  border-style: solid;
  border-color: black;
  background: #21bacc;
  z-index: 2;
}

#clone_position_target_relative {
  position: relative;
  top: 10px;
  left: 560px;
  height: 50px;
  width: 35px;
  border-style: solid;
  border-color: yellow;
  background: red;
  z-index: 1;
}

#clone_position_nested {
  background-color:green;
  border-style: solid;
  border-color: #0000FF;
  top: 12px;
  left: 600px;
  width: 75px;
  height: 50px;
}

#clone_position_nested_lvl1_abs, #clone_position_nested_lvl1_rel {
  background-color:#00FFFF;
  border-style: solid;
  border-color: #0000FF;
  border: 8px solid #0000FF;
  top: -100px;
  left: -100px;
  width: 60px;
  height: 90px;
}

#clone_position_nested_lvl1_abs_lvl2_abs, #clone_position_nested_lvl1_abs_lvl2_rel,
#clone_position_nested_lvl1_rel_lvl2_abs, #clone_position_nested_lvl1_rel_lvl2_rel {
  background-color:#FFFF00;
  border-style: solid;
  border-color: #00FF00;
  border: 8px solid #0000FF;
  top: 10px;
  left: 5px;
  width: 30px;
  height: 15px;
}

#clone_position_nested_lvl1_abs,
#clone_position_nested_lvl1_abs_lvl2_abs,
#clone_position_nested_lvl1_rel_lvl2_abs {
  position: absolute;
}

#clone_position_nested_lvl1_rel,
#clone_position_nested_lvl1_abs_lvl2_rel,
#clone_position_nested_lvl1_rel_lvl2_rel {
  position: relative;
}

#make_absolute_dimensions_test div,
#make_absolute_dimensions_test span,
#make_absolute_dimensions_test img {
  position: relative;
  width: 105px;
  height: 48px;
}

#make_absolute_dimensions_test .addMargin { margin: 3px; }
#make_absolute_dimensions_test .addPadding { padding: 10px; }
#make_absolute_dimensions_test .addBorders { border: 5px solid #cccccc; }

#notInlineAbsoluted { position: absolute; }

#elementToViewportDimensions {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background: #000;
}

/* for scroll test on really big screens */
body {
  height: 40000px;
}